/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: inherit;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 100px;
    background-color: #333333;
}

.navbar {
    align-items: center;
    background-color: white;
    border-bottom: 4px solid #e02e3d;
    margin-bottom: 20px;
    height: 5em;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-nav {
    font-size: large;
    font-weight: 700;
}

.nav-item {
    display: block;
    padding: 3px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-top-color: white;
    border-right-style: solid;
    border-bottom-color: #e02e3d;
    border-left-style: solid;
    height: 78px;
    padding-top:1em;
}

    .nav-item:hover {
        background-color: #f5f5f5;
    }

.footerklass {
    text-align: center;
}
.footlogo {
    display: flex;
   justify-content: center;
    margin-top:20px;
}
