p{ 
    color: rgb(46, 73, 206);
    font-size: large;
}

.card-body {
    background-color: rgb(244, 248, 244);
}
.card-img-top{
    width: 100%;
    height: auto;
}
.card-title.main-news-title{
    font-size: 50px;
}


