/* Main news styling*/
.main-news-banner {
  background-color: rgb(161, 48, 48);
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.main-news-read-more {
  text-decoration: none;
  color: black;
}

.main-news-read-more:hover {
  text-decoration: underline;
  color: black;
}
.main-news-title {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-news-img {
  width: 100%;
  height: auto;
}

/* Article styling*/
.card-title-2{
  background-color: rgb(161, 48, 48);
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}


p {
    color: rgb(46, 73, 206);
    font-size: large;
}

.card-body {
    background-color: rgb(244, 248, 244);
}






.td-style a{ 
font-size: 20px;

}
   


.td-style{
    font-size: 16px;
}


body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #333333;

}

.image {
  max-width: 100%; /* Set the maximum width to 100% of the parent container */
  max-height: 100%; /* Set the maximum height to 100% of the parent container */
}




#quote
{
    color: rgb(161, 48, 48);
    background-color: rgb(226, 178, 178); 
    font-size: 25px; 
    padding: 10px 20px; 
    border: none; 
    text-align: center;
}
.buttonQuote {
    color: white;
    background-color: rgb(161, 48, 48);
    font-size: 25px; 
    padding: 10px 20px; 
    border: none; 
    width: 100%;
    
    
    
}
.date-box {
  color: rgb(161, 48, 48);
  background-color: rgb(244, 248, 244);
  font-size: 40px;
  font-weight: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ad-carousel {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
 
}

.ad-container {
  width: max-content;
  height: 100%;
  display: flex;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
  
}

.ad-container img {
  width: auto;
  height: 100%; 
  object-fit: contain; 
  margin-right: 25px;
  
}

.ad-container img:hover {
  border: 2px solid red;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


