p {
    color: rgb(46, 73, 206);
    font-size: large;
}

.card-body {
    background-color: rgb(244, 248, 244);
}

.main-news-img {
    width: 100%;
    height: auto;
}

.main-news-title {
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-news-read-more {
    text-decoration: none;
    color: black;
}

.main-news-read-more:hover {
    text-decoration: underline;
    color: black;
}

.main-news-banner {
    background-color: rgb(161, 48, 48);
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.table{
   
    color: rgb(0, 0, 0);
   
}
.card-title-2{
    background-color: rgb(161, 48, 48);
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.container{


}
.td-style{
    font-size: 16px;
}



#quote
{
    color: blue;
    background-color: white; 
    font-size: 16px; 
    padding: 10px 20px; 
    border: none; 
    text-align: center;
}
.buttonQuote {
    color: white;
    background-color: blue; 
    font-size: 16px; 
    padding: 20px 20px; 
    border: none; 
    margin-left: 60px;
    
    
}
